.form-holder {
  position: relative;
  margin: 16px 0 22px;
}

.form-holder__input {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0;
  border-bottom: 1px solid lightgrey;
  transition: 280ms;
}

.form-holder__input:focus {
  outline: 0;
}

.form-holder__input:focus ~ .form-holder__label {
  top: -16px;
  opacity: 1;
  transform: scale(0.75);
  transform-origin: bottom left;
}

.form-holder__label {
  position: absolute;
  top: calc(
    40px /*input-height*/ - 16px /*font-size*/ - 12px /*line-height tweak*/
  );
  transition: 280ms;
  opacity: 0.5;
  pointer-events: none;
}

.notempty {
  top: -16px;
  opacity: 1;
  transform: scale(0.75);
  transform-origin: bottom left;
}
